@model Quizbee.ViewModels.PageInfo

@if (Model != null)
{
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">@Model.PageTitle</h4>
        <p class="mg-b-0">@Model.PageDescription</p>
    </div>
}