
@{
    ViewBag.Title = "AvatarPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="splide splide--loop splide--ltr splide--draggable is-active" id="splide01" style="visibility: visible;">
        <div class="splide__arrows"><button class="splide__arrow splide__arrow--prev" type="button" aria-controls="splide01-track" aria-label="Go to last slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button><button class="splide__arrow splide__arrow--next" type="button" aria-controls="splide01-track" aria-label="Next slide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg></button></div><div class="splide__track" id="splide01-track">
            <ul class="splide__list" id="splide01-list" style="transform: translateX(-2191.86px);">
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;" aria-hidden="true" tabindex="-1">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/4/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg01.svg">
                            <span>
                                Poor vs. poor
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;" aria-hidden="true" tabindex="-1">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/17/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg10.svg">
                            <span>
                                Illegal harassment
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;" aria-hidden="true" tabindex="-1">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/11/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg08.svg">
                            <span>
                                Economic growth
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;" aria-hidden="true" tabindex="-1">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/9/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg07.svg">
                            <span>
                                Fossil fuels
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;" aria-hidden="true" tabindex="-1">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/18/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg09.svg">
                            <span>
                                Farmers income
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;" aria-hidden="true" tabindex="-1">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/15/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg16.svg">
                            <span>
                                Refugee numbers
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/8/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg15.svg">
                            <span>
                                Threatened species
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/13/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg11.svg">
                            <span>
                                Big cities
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/12/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg02.svg">
                            <span>
                                Global hunger
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/3/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg04.svg">
                            <span>
                                Girls schooling
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/6/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg06.svg">
                            <span>
                                Water at home
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/16/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg12.svg">
                            <span>
                                Raw materials
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide is-active is-visible" id="splide01-slide01" style="margin-right: 16px; width: 166.667px;" aria-hidden="false" tabindex="0">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/10/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg05.svg">
                            <span>
                                Female bosses
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide is-visible" id="splide01-slide02" style="margin-right: 16px; width: 166.667px;" aria-hidden="false" tabindex="0">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/5/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg13.svg">
                            <span>
                                Global warming
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide is-visible" id="splide01-slide03" style="margin-right: 16px; width: 166.667px;" aria-hidden="false" tabindex="0">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/14/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg14.svg">
                            <span>
                                Plastic in oceans
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide is-visible" id="splide01-slide04" style="margin-right: 16px; width: 166.667px;" aria-hidden="false" tabindex="0">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/1/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg03.svg">
                            <span>
                                Suicide trend
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide is-visible" id="splide01-slide05" style="margin-right: 16px; width: 166.667px;" aria-hidden="false" tabindex="0">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/19/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg17.svg">
                            <span>
                                Import taxes
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide is-visible" id="splide01-slide06" style="margin-right: 16px; width: 166.667px;" aria-hidden="false" tabindex="0">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/4/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg01.svg">
                            <span>
                                Poor vs. poor
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" id="splide01-slide07" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/17/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg10.svg">
                            <span>
                                Illegal harassment
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" id="splide01-slide08" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/11/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg08.svg">
                            <span>
                                Economic growth
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" id="splide01-slide09" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/9/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg07.svg">
                            <span>
                                Fossil fuels
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" id="splide01-slide10" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/18/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg09.svg">
                            <span>
                                Farmers income
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" id="splide01-slide11" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/15/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg16.svg">
                            <span>
                                Refugee numbers
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" id="splide01-slide12" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/8/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg15.svg">
                            <span>
                                Threatened species
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" id="splide01-slide13" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/13/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg11.svg">
                            <span>
                                Big cities
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" id="splide01-slide14" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/12/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg02.svg">
                            <span>
                                Global hunger
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" id="splide01-slide15" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/3/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg04.svg">
                            <span>
                                Girls schooling
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" id="splide01-slide16" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/6/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg06.svg">
                            <span>
                                Water at home
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" id="splide01-slide17" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/16/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg12.svg">
                            <span>
                                Raw materials
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/10/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg05.svg">
                            <span>
                                Female bosses
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/5/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg13.svg">
                            <span>
                                Global warming
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/14/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg14.svg">
                            <span>
                                Plastic in oceans
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/1/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg03.svg">
                            <span>
                                Suicide trend
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/19/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg17.svg">
                            <span>
                                Import taxes
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/4/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg01.svg">
                            <span>
                                Poor vs. poor
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/17/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg10.svg">
                            <span>
                                Illegal harassment
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/11/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg08.svg">
                            <span>
                                Economic growth
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/9/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg07.svg">
                            <span>
                                Fossil fuels
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/18/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg09.svg">
                            <span>
                                Farmers income
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/15/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg16.svg">
                            <span>
                                Refugee numbers
                            </span>
                        </div>
                    </a>
                </li>
                <li class="splide__slide splide__slide--clone" style="margin-right: 16px; width: 166.667px;">
                    <a href="https://upgrader.gapminder.org/t/sdg-world-un-goals/8/">
                        <div class="splide__slide__container">
                            <img src="https://www.gapminder.org/wp-content/themes/gapminder2/images/icons/sdg/sdg15.svg">
                            <span>
                                Threatened species
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

