
@{
    ViewBag.Title = "Un Authorized";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="wrapper-page">

                    <div class="m-t-40 card-box">
                        <div class="account-content">
                            <div class="text-center m-b-20">
                                <p class="text-muted m-t-20 line-h-24 text-justify">
                                    <img src="~/Content/images/unauthorized-page.png" alt="user" class="rounded-circle img-fluid">
                                </p>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-12">
                                    <a href="/" class="btn btn-lg btn-primary btn-block">Back to Home</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>